/* Colors */
$color-dark-shades: #2E3841;
$color-dark-accent: #566A93;
$color-main-brand: #28A9EF;
$color-light-accent: #767574;
$color-light-shades: #F3F1ED;

$color-success: #41ad80;
$color-warning: #bf9d48;
$color-danger: #f44336;

/* Sizes */
$base-size: 12px;

/* Fonts */
$font-header: 'Lora', serif;
$font-text: 'Roboto', sans-serif;
$font-decorator: 'Cedarville Cursive', cursive;



