@import '../../styles/settings.scss';

.component {
    height: 80vh;
    margin: 0;
    position: relative;
}

.title {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    font-size: ($base-size * 4.5);
    text-transform: uppercase;
    color: $color-light-shades;
    transform: translate(-50%,-50%);
    text-shadow: 1px 3px 9px $color-dark-shades;

    small {
        font-family: $font-decorator;
        text-transform: lowercase;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}